<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar empleado</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>

    <div class="container">
        <br>
        <h2>Agregar empleado</h2>
        <form action="#" th:action="@{/guardar}" th:object="${empleado}" method="post">

            <div class="mb-3">
                <label for="id" class="form-label">Dni</label>
                <input type="text" class="form-control" id="id" placeholder="Ingresar Dni" th:field="*{id}" name="id" >
            </div>


            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre" th:field="*{nombre}" name="nombre" >
            </div>
           

            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingresar apellido" th:field="*{apellido}" name="nombre" >
            </div>

            <div class="mb-3">
                <label for="edad" class="form-label">Edad</label>
                <input type="text" class="form-control" id="edad" placeholder="Ingresar edad" th:field="*{edad}" name="nombre" >
            </div>

            <div class="mb-3">
                <label for="direccion" class="form-label">Direccion</label>
                <input type="text" class="form-control" id="direccion" placeholder="Ingresar direccion" th:field="*{direccion}" name="nombre" >
            </div>

            <div class="mb-3">
                <label for="telefono" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="telefono" placeholder="Ingresar telefono" th:field="*{telefono}" name="nombre" >
            </div>

            <button class="btn btn-dark" type="submit">Guardar</button>
            

        </form>
    </div>
    
</body>
</html>